body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-item {
    text-align: center;
    overflow: hidden;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product-item h4 {
    margin-top: 10px;
}

